@model Hattfabriken.Models.Viewmodels.CreateAccountViewModel

<body>

    <div class="container mt-5">
        <h2 class="text-center">Register user</h2>

        <form asp-action="Register" method="post" enctype="multipart/form-data" class="mx-auto col-md-6">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input type="text" class="form-control" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

        

            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

</body>


