@model Hattfabriken.Models.ViewModels.RequestViewModel





@{

    ViewData["Title"] = "Skapa en ny förfrågan";

}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>New request</h4>
                </div>
                <div class="card-body">

                    <form asp-action="NewRequest" asp-controller="Request" method="post" enctype="multipart/form-data">

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label class="form-label">Is there anything particular you want us to take into consideration?</label>
                            <textarea asp-for="Commentary" class="form-control" id="commentary" placeholder="Write your comment here..." required style="resize: none; height: 200px;"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Do you have an image of what you have in mind?</label>
                            <input type="file" class="form-control" asp-for="RequestImage" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Choose a hat type:</label>
                            <select asp-for="HatId" class="form-select">
                                <option value="">Choose a type...</option>
                                <option value="1">Filthatt</option>
                                <option value="2">Panamahatt</option>
                                <option value="3">Stråhatt</option>
                                <option value="4">Tyghatt</option>
                                <option value="5">Läderhatt</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Which material do you want?</label>
                            <select asp-for="Material" class="form-select" id="Material">
                                <option value="">Choose material...</option>
                                @foreach (var material in ViewBag.Materials)
                                {
                                    <!-- Lägg till villkor för att bara visa material av typen 1 -->
                                    @if (material.Type == 1)
                                    {
                                        <option value="@material.MaterialName">@material.MaterialName</option>
                                    }
                                }
                            </select>
                        </div>

                       
                       @*  <div class="mb-3">
                            <label class="form-label">Which Special effects do you want?</label>
                            <select asp-for="Material" class="form-select" id="Material">
                                <option value="">Choose material...</option>
                                @foreach (var material in ViewBag.Materials)
                                {
                                    <option value="@material.MaterialName">@material.MaterialName</option>
                                }
                            </select>
                        </div> *@

                        <div class="mb-3">
                            <label class="form-label">Do you want any special effects?</label>
                            <div id="checkboxes">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="specialEffectsCheckbox" value="specialEffects">
                                    <label class="form-check-label" for="specialEffectsCheckbox">
                                        Yes, I want special effects
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">List of Special Effects:</label>
                            <ul class="list-group">
                                <li class="list-group-item disabled" aria-disabled="true">Special Effects:</li>
                                <li class="list-group-item">Pearls</li>
                                <li class="list-group-item">Feathers</li>
                                <li class="list-group-item">Buttons</li>
                            </ul>
                            <small id="specialEffectsHelp" class="form-text text-muted">Write in the description which effects you want.</small>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text">Measurement:</span>
                                <input asp-for="Measurement" class="form-control" aria-label="Measurement">
                                <span class="input-group-text">Height:</span>
                                <input asp-for="Height" class="form-control" aria-label="Height">
                                <span class="input-group-text">Outer dimension</span>
                                <input asp-for="OuterDimension" class="form-control" aria-label="Outer dimension" />
                            </div>
                        </div>

                        <div class="mb-3">

                            <label class="form-label">Contact and Delivery</label>

                            <div class="mb-2">
								<select asp-for="Country" class="form-select">
									<option value="">Country</option>
									<option value="Sweden">Sverige</option>
									<option value="USA">USA</option>
									<option value="UK">Storbrittanien</option>
									<option value="Germany">Grekland</option>
									<option value="Norway">Norge</option>
									<option value="Finland">Finland</option>
								</select>
                            </div>
                            
                            <div class="mb-2">
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                            </div>

                            <div class="mb-2">
                                <input asp-for="Adress" class="form-control" placeholder="Address" />
                            </div>

                            <div class="mb-2">
                                <input asp-for="PostalCode" class="form-control" placeholder="Postal Code" />
                            </div>

                            <div class="mb-2">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                            </div>

                            <div class="mb-2">
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Phonenumber" />
                            </div>
                            
                        </div>

                        <div class="mb-3">
                            <p>How do you want your hat delivered?</p>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="pickupRadio" name="DeliveryOrPickup" value="Pick up at workshop" asp-for="DeliveryOrPickup" />
                                <label class="form-check-label" for="pickupRadio">Pick up at workshop</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="deliveryRadio" name="DeliveryOrPickup" value="Home delivery" asp-for="DeliveryOrPickup" />
                                <label class="form-check-label" for="deliveryRadio">Home delivery</label>
                            </div>
                        </div>

                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" id="urgentCheckbox" name="Urgent" value="true" asp-for="Urgent" />
                            <label class="form-check-label" for="urgentCheckbox">Urgent request</label>
                        </div>

                        <button type="submit" class="btn btn-primary">Send request</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
