

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> Hejsansvejsan du har öppnat en förfrågan! coolt mannen! fett å så 8) </h1>
}


