@model Hattfabriken.Models.MailData

<h1>Send An Email</h1>

<form id="emailForm">
    <div class="form-group">
        <label asp-for="EmailToID">Receiver Email:</label>
        <input asp-for="EmailToID" id="EmailToID" class="form-control" value="@Model.EmailToID" />
        <span asp-validation-for="EmailToID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailToName">Receiver Name:</label>
        <input asp-for="EmailToName" id="EmailToName" class="form-control" value="@Model.EmailToName" />
        <span asp-validation-for="EmailToName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailSubject">Subject:</label>
        <input asp-for="EmailSubject" id="EmailSubject" class="form-control" value="@Model.EmailSubject" />
        <span asp-validation-for="EmailSubject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailBody">Email Content:</label>
        <textarea asp-for="EmailBody" id="EmailBody" class="form-control" rows="8">@Model.EmailBody</textarea>
        <span asp-validation-for="EmailBody" class="text-danger"></span>
    </div>

    <button type="button" class="btn btn-primary" onclick="sendEmail()">Send Email</button>
</form>

@section Scripts {
    <script>
        function sendEmail() {
            var emailData = {
                EmailToID: document.getElementById("EmailToID").value,
                EmailToName: document.getElementById("EmailToName").value,
                EmailSubject: document.getElementById("EmailSubject").value,
                EmailBody: document.getElementById("EmailBody").value
            };

            fetch('/Mail/SendMail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(emailData)
            })
                .then(response => {
                    if (response.ok) {
                        alert("Email sent successfully");
                        window.location.href = '/Request/AllRequests';
                    } else {
                        alert("Failed to send email");

                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
    </script>
}
