@model Hattfabriken.Models.AddHatViewModel

<h2>Add hat</h2>
<form asp-action="AddHat" method="post" enctype="multipart/form-data">
<div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="HatName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="material">Material:</label>
        <select id="material" name="MaterialName" class="form-control">
            @if (ViewBag.Materials != null && ViewBag.Materials.Count > 0)
            {
                foreach (var material in ViewBag.Materials)
                {
                    <option value="@material.MaterialName">@material.MaterialName</option>
                }
            }
            else
            {
            <option>No materials available</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label class="form-label">Special effects:</label>
        <select asp-for="SpecialEffects" class="form-select" id="SpecialEffectsDrop">
            <option value="">Choose Special effect...</option>
            @if (ViewBag.SpecialEffects != null)
            {
                foreach (var specialEffectsList in ViewBag.SpecialEffects)
                {
                    <option value="@specialEffectsList.SpecialEffectName">@specialEffectsList.SpecialEffectName</option>
                }
            }
            else
            {
                <option value="">No Special effects available</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="measurement">Outer measurement:</label>
        <input type="number" id="measurement" name="OuterMeasurement" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="Quantity" class="form-control" />
    </div>
    <div class="form-group mt-4">
        <h6>Add picture</h6>
        <div class="d-flex">
            <input type="file" class="form-control" asp-for="HatImage" id="inputGroupFile02">
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Hat</button>
</form>
