@model Hattfabriken.Models.AdminPageViewModel

@{
    ViewData["Title"] = "AdminPage";
}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div id="Material">
                    <div class="col">
                        <div class="card mx-auto mb-4 shadow" style="width: 240px;">
                            <img class="img roundes-circle m-4" style="aspect-ratio: 1/1; object-fit: cover;"
                                 src="" alt="Hat Picture" />
                            <div class="card-body text-center">
                                <h5 class="card-title">En hatt</h5>
                                <p class="card-text">blablabla</p>
                                <div class="text-center">
                                    <button class="btn btn-success mb-2">Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>