<body style="background-image: url('https://www.tapeciarnia.pl/tapety/normalne/tapeta-slomkowy-kapelusz-na-deskach.jpg'); background-size: cover;">
	<div class="container mt-5">
		<div class="container mt-5">
			<div class="row">
				<div class="container text-center">
					<div class="row row-cols-4">
						<div class="col">
							<div class="col-sm">
								<div id="Material">
									<div class="col">
										<div class="card mx-auto mb-4 shadow" style="width: 240px;">
											<div class="card-body text-center" style="height: 200px;">
												<h1 class="card-title" style="font-size: 20px;">Material</h1>
												<div class="text-center">
													<a asp-controller="Material" asp-action="StorageOfMaterials" class="btn btn-success mb-2">Material Warehouse</a>
													<a asp-controller="SpecialEffects" asp-action="Index" class="btn btn-success">Special Effects</a> <!-- Added btn-success class -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="col-sm">
								<div id="Stock">
									<div class="col">
										<div class="card mx-auto mb-4 shadow" style="width: 240px;">
											<div class="card-body text-center" style="height: 200px;">
												<h1 class="card-title" style="font-size: 20px;">Stock</h1>
												<div class="text-center">
													<button class="btn btn-success mb-2" disabled>View hats in stock</button>
													<!--Redigera lagret kommer på nästa sida-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="col-sm">
								<div id="OrderRequests">
									<div class="col">
										<div class="card mx-auto mb-4 shadow" style="width: 240px;">
											<div class="card-body text-center" style="height: 200px;">
												<h1 class="card-title" style="font-size: 20px;">Order requests</h1>
												<div class="text-center">
													<a asp-controller="Request" asp-action="AllRequests" class="btn btn-success mb-2">View Requests</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="col-sm">
								<div id="Orders">
									<div class="col">
										<div class="card mx-auto mb-4 shadow" style="width: 240px;">
											<div class="card-body text-center" style="height: 200px;">
												<h5 class="card-title" style="font-size: 20px;">Orders</h5>
												<div class="text-center">
													<a asp-controller="Offer" asp-action="Create" class="btn btn-success mb-2">Create Offer</a>
													<button class="btn btn-success mb-2" disabled>View orders</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="col-sm">
								<div id="Account">
									<div class="col">
										<div class="card mx-auto mb-4 shadow" style="width: 240px;">
											<div class="card-body text-center" style="height: 200px;">
												<h5 class="card-title" style="font-size: 20px;">Account</h5>
												<div class="text-center">
													<a asp-controller="Account" asp-action="ChangePassword" class="btn btn-success mb-2">Change password</a>
													<a asp-controller="Account" asp-action="CreateAccount" class="btn btn-success mb-2">Create account</a>
@* 													<a asp-controller="Account" asp-action="DeleteAccount" class="btn btn-danger mb-2">Delete account</a> *@
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
