@model Hattfabriken.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-3">
              @if (!User.Identity.IsAuthenticated)
               {
                <a asp-controller="Request" asp-action="NewRequest" class="btn btn-success w-100 shadow">Create order request</a>
               }
            </div>
        </div>
    </div>
</body>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-3">
                @* @if (!User.Identity.IsAuthenticated) // Ska vara ADMIN, bortkommenterat för testing
                { *@
                    <a asp-controller="Request" asp-action="AllRequests" class="btn btn-success w-100 shadow">Show requests</a>
            @*  } *@
            </div>
        </div>
    </div>
</body>

<!-- CARDBODY FÖR HATTAR -->
<div id="hatList">
    <div class="rox mt-5">
        <div class="col">
            <div class="card mx-auto mb-4 shadow" style="width: 240px;">
               <img class="img roundes-circle m-4" style="aspect-ratio: 1/1; object-fit: cover;"
               src="" alt="Hat Picture"/>
               <div class="card-body text-center">
                   <h5 class="card-title">Hatt standardutbud</h5>
                   <p class="card-text">blablabla</p>
                   <div class="text-center">
                       <button class="btn btn-success mb-2">Order</button>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Go to Admin Page</a>
</div>


<div>
    <a asp-controller="Account" asp-action="CreateAccount">Skapa konto</a>
</div>