@model Hattfabriken.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <button>Click here to place an order</button>
        </div>
    </div>

</body>
