@model Hattfabriken.Models.Viewmodels.OfferViewModel


<h1>Create Offer</h1>

<form asp-controller="Offer" asp-action="Create" method="post" enctype="multipart/form-data>

   <div class="form-group">
        <label asp-for="KundNamn">Kund namn:</label>
        <input asp-for="KundNamn" class="form-control"/>
   </div>

   <div class="form-group">
        <label asp-for="KundMail">Kund mail:</label>
        <input asp-for="KundMail" class="form-control" />
   </div>

    <div class="form-group">
        <label asp-for="KundTel">Kund Tel:</label>
        <input asp-for="KundTel" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MaterialKostnad">Material kostand:</label>
        <input asp-for="MaterialKostnad" class="form-control" />
        
    </div>

    <div class="form-group">
        <label asp-for="SpecialeffektKostnad">Specialeffekt kostnad:</label>
        <input asp-for="SpecialeffektKostnad" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SpecialtygKostnad">Specialtyg kostand:</label>
        <input asp-for="SpecialtygKostnad" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FraktKostnad">Frakt kostnad:</label>
        <input asp-for="FraktKostnad" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EstimeratLeveransdatum">Estimerat leveransdatum:</label>
        <input asp-for="EstimeratLeveransdatum" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" onclick="openOutlook()" >Send In</button>

</form>

<script>

                                    // Hur hämtar vi från formuläret?
    function openOutlook() {
        var subject = "Offer for request ...";
        var emailAdress = "KundMail"; 
        var body = "Dear Customer,\n\n  Here is an offer bla bla bla.  \n\nBest regards,\nThe Hat Factory Team";
        var mailtoLink = "mailto:" + encodeURIComponent(emailAdress) + "?subject=" + encodeURIComponent(subject) + "&body=" + encodeURIComponent(body);
        window.location.href = mailtoLink;
    }
</script>